.header {
    align-items: center;
    box-shadow: 0 0 30px #8100a7;
    background-color: #CC51FF;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    position: absolute;
}
.header__img {
    height: 60px;
    width: 60px;  
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 20px;
}

ul {
    display: flex;
    padding: 26px;
    list-style: none;
}
li {
    margin-right: 20px;
    padding: 26px;
}
a {
    color: white;
    text-decoration: none;
}
li:hover {
   background-color: #7700aa;
   cursor: pointer;
}
